body{
    background-color: rgb(64, 20, 134);
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(141, 134, 134, 0.25);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}
.btn:hover {
    background: #e60073;
    font-weight: bold;
    color: #ffff00;
    transition: 0.5s;

}

.btn-privious{
    background: rgba(141, 134, 134, 0.25);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.search-btn:hover {
    background: #e60073;
    font-weight: bold;
    color: #ffff00;
}

.single-result{
    background: rgba(141, 134, 134, 0.25);
    border-radius: 15px;
}

/* extra layout */
#songSuggestionList, #lyricsSongSuggestionList, #lyricsContent {
    display:none;
}


.stylishTextContent{
    text-align:center;
    margin:0 20%;
}

